{% extends 'base.html' %}

{% block content %}
    <div class="row align-items-center vh-100">
      <div class="mx-auto">
        <div class="card bg-dark text-white text-center shadow">
            <div class="card-header text-muted">
                Proyectos de la comunidad <b>AyudaEnPython</b>
            </div>
          <div class="card-body d-flex flex-column align-items-center">
            <h4 class="card-title">Generador de Contraseñas</h4>
            <form action="{{ url_for('index')}}", method="POST">
              <div class="form-group">
                <label for="">Longitud de caracteres</label>
                <input type="number" class="form-control" name="longitud" min="8" max="16" value="8">
              </div>
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="mayusculas" value=True>
                  <label class="form-check-label" for="mayusculas">Mayúsculas</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="minusculas" value=True>
                  <label class="form-check-label" for="minusculas">Minúsculas</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="digitos" value=True>
                  <label class="form-check-label" for="numeros">Números</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" name="simbolos" value=True>
                  <label class="form-check-label" for="simbolos">Simbolos</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Generar</button>
              <div class="form-group">
                <label for="">Contraseña generada</label>
                <input type="text" class="form-control" id="passwordGenerado" value={{password}}>
              </div>
            </form>
            <button class="btn btn-secondary mt-3" onclick="copiarTexto()" onmouseout="outF()" id="btnCopiar">
              Copiar
            </button>
          </div>
          <div class="card-footer text-muted">
                <a href="https://www.facebook.com/groups/ayudapython"
                class="text-decoration-none text-muted">AyudaEnPython</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}